/* Material design overrides */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.mdc-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
  overflow: hidden;

  .mdc-fab__label {
    display: none;
  }

  &:hover {
    width: auto;
    padding: 20px;
    border-radius: 24px;

    .mdc-fab__label {
      display: inline;
    }

    .mdc-fab__icon {
      margin-right: 12px;
    }

    .mdc-fab__ripple {
      border-radius: 24px;
    }
  }
}

.mdc-data-table {
  width: 90%;
  margin: 1.5rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.8rem;
}

.mdc-card {
  min-width: 12rem;
  border-radius: 1rem;
  width: 200px;
}

.mdc-card__content {
  padding: 16px;
}

.mdc-typography--headline6 {
  margin: 0.5rem;
}

.mdc-typography--headline5 {
  margin: 0;
  font-size: 2rem;
}

.mdc-typography--caption {
  color: green;
  /* Change to red if negative */
}

:root {
  --mdc-theme-primary: #3773ff;
  --mdc-theme-secondary: #cc3363;
}

.mdc-data-table {
  margin: 4rem;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.mdc-dialog .mdc-text-field {
  display: block;
  margin: 16px;
}
